#canvas {
	position: absolute;
	background-color: rgb(255, 255, 255);
	left: 0px;
	top: 0px;
}

#dieDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(20, 20, 20, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#startDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(20, 20, 20, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#restartBut {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#startBut {
	background-color: #6495ED; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
